
<div class="mt-4" id="show_page">
    <div class="card ml-3 mb-3 mx-auto rounded" style="width: 60rem;">
      <div class="card-body">
        <h1 class="card-title"><strong>About Us</strong></h1>
        <h6 class="card-subtitle mb-2 text-muted">Well there ain't all that much to know right now. It's a blogging website. You already know what that is. Real simple stuff.<br />Here's a majestic corgi:</h6>
        <hr>
        <%= image_tag "magestic-corgi.jpg", style:"width:50rem;border-radius:10px;display:block;margin-left:auto;margin-right:auto;width:75%;"%>
      </div>
    </div>
</div>
