<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "shiba_by_atrieisan.jpg", class:"d-block w-100", alt:"Majestic" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "prance-8.jpg", class:"d-block w-100", alt:"Shibe" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "wolves.jpg", class:"d-block w-100", alt:"Moon moons" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--

<div class="jumbotron">
  <h1 class="display-4">Hey there!</h1>
  <p class="lead">Welcome to the much excellent blog. Blog of all blogs. Wow everyone and their mothers' socks off</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-lg btn-outline-dark" href="<%= about_us_path %>" role="button">Learn more</a>
  </p>
</div> -->
